table, th, td {
   border: 1px solid black;

}

tr.buildRank1 {
  background-color: blue;
}

tr.buildRank2 {
  background-color: purple;
}

tr.buildRank3 {
  background-color: pink;
}

th.itemName, td.itemName {
  width: 265px;
}

th.itemImage, td.itemImage {
  width: 45px;
}

th.itemFrequency, td.itemFrequency {
  width: 60px;
}
